
.aboutWrapper {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: auto;
    height: 700px;
}

.image {
    width: 300px;
    margin: auto;
}

.liner{
    position: relative;
    border-top: 2px solid black;
    width: 90%;
    top: 80px;
   
   /* eight: 2px; h */
    /* padding: 1px; */
}


.image {
    position: relative;
    width: 300px;
    height: 150px;
}

.mainWrapper {
    max-width: 800px;
    margin: auto;
    height: 500px;
}

.mainWrapper {
    max-width: 1000px;
    margin: auto;
    position: relative;
    text-align: center;
    font-size: 34px;
    color: rgba(213, 171, 78, 1);
    -webkit-text-stroke: 1.2px black;
    letter-spacing: 1.1px;
    font-weight: 500;
}