.productPageWrapper {
    display: flex;
    flex-direction: column;
    height: auto;
    max-width: 1200px;
    margin: auto;
    align-items: center;
}

.linkButtonsWrapper {
    max-width: 844px;
    margin: auto;
    display: flex;
    align-items: center;
    max-height: 200px;
    
}

.listItemsWrapper {
    display: flex;
    max-width: 1100px;
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
  
}

.listItemsWrapper li:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 10px 10px;
    margin: 10px 0px 10px 0px;
    max-width: 10px;
   
}

.listItemsWrapper li:nth-child(3){
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 10px 10px;
    margin: 10px 0px 10px 0px;
    max-width: 10px;
}

.listItemsWrapper li:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 10px 10px;
    margin: 10px 240px 0px 240px;
    max-width: 10px;
}

.listItemsWrapper li a {
    border: 1px solid black;
    width: 82px;
    height: 76px;
    text-align: center;
    border-radius: 30%;
}

.listItemsWrapper li p {
    width: 120px;
    text-align: center;
    height: 10px;
    line-height: 12px;
    margin-bottom: 0px;
}


.productsTemplateWrapper {
    display: flex;
    max-width: 1100px;
    margin: auto;
    text-align: center;
    margin-top: 250px;
    margin-bottom: 50px;
}

.imageContainer img {
    width: 248px;
    height: 400px;
}

.imageContainer {
    /* border: 5px solid black; */
    padding: 15px 10px 15px 10px;
    border-radius: 26px;
    background-color: rgba(248, 239, 239, 0.3);
    box-shadow: 2px 2px 24px 0px rgba(0,0,0,0.37);
}

.imageContainer:hover {
    transition:   1s;
    cursor: pointer;
    background-color: rgba(248, 239, 239, 0.555);
    box-shadow: 2px 2px 24px 0px rgba(0, 0, 0, 0.863);
}

/* 
.imageContainer:nth-child(2) {
    max-width: 400px;
    height: 400px;
    margin-left: 50px;
    margin-right: 50px;
} */

.imageContainer {
    margin: auto;
}

.imageContainer:nth-child(2){
    margin-left: 60px;
    margin-right: 60px;
}

